- @meta_title = "fewsel | get in contact"
- @meta_description = "get in touch with fewsel"

%h1.red= "Get in contact"

%p= @meta_description

%p
%p
  %img{:src => "/images/mail.png"}
%p
%p
%p
%p
%p
%p
%p
%p