- @meta_title = "Events"
- @meta_description = "Our next gigs..."

%h1= @meta_title

-# %p= @meta_description


%a.songkick-widget{ :href => url("http://www.songkick.com/artists/4004396"), :title => "Tourdates", :"data-background-color" => "#eae9e7", :"data-theme" => "light"} Tourdates
%script{:type => "text/javascript", :src  => "//widget.songkick.com/widget.js"}