- @meta_title = "Events"
- @meta_description = "Our next gigs..."

%h1= @meta_title

%p= @meta_description


%a.songkick-widget{ :href => url("http://www.songkick.com/artists/4004396"), :title => "Tourdates" } Tourdates
%script{:type => "text/javascript", :src  => "//widget.songkick.com/widget.js"}

%ol#events
  - events.each do |event|
    = haml(:_single_event, :layout => false, :locals => { :event => event })