- @meta_title = "fewsel - music from the wrong side of the universe"
- @meta_description = "this is fewsel, this is human, hate, anger, fear and worries. different than anything, better than most..."

#stage
  %img{:src => "/images/fewsel.jpg"}

#leftcol
  %h1= "fewsel status updates"
  - posts.each do |post|
    #news
      #newsdate  
        %p.published_at
          %time{ :pubdate => "pubdate", :datetime => post.upated_at.iso8601 }= I18n.l(post.upated_at, :format => :short)
      #newscontent
        %p.news= nl2br(linkify post.message)
#rightcol