- @meta_title = "fewsel news"
- @meta_description = "...powered by Facebook Graph API."

%h1= @meta_title

- posts.each do |post|
  #news
    #newsdate  
      %p.published_at
        %time{ :pubdate => "pubdate", :datetime => post.upated_at.iso8601 }= post.date
    #newscontent
      %p= nl2br(linkify post.message)